<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Example7.js"></script>
    <title></title>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="myController">
            Filter County : <input ng-model="myFilter" />
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>County</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="(Counties |filter:myFilter).length == 0">
                        <td colspan="2">No Data found</td>
                    </tr>
                    <tr ng-repeat="county in Counties | filter: myFilter | orderBy: 'countyname'">
                        <td>{{county.id}}</td>
                        <td>{{county.countyname}}</td>
                        <td>{{$index}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>